*{
    background-color: rgb(78, 58, 107);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    position: absolute;
    margin-top: -50px;
    overflow: visible;
    z-index: 3;
}
h1{
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 9px 12px 14px rgba(0,0,0,0.75); 
}
.navbar-nav .nav-link{
    font-family: "Trirong", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.navbar-nav .nav-link.active{
    color: rgb(197, 153, 255);
    font-weight: 600;
}
.navbar-nav .nav-link:hover{
    color: rgb(197, 153, 255);
}
.scale-section{
    transform: scale(1);
    transform-origin: top center;
}
@media (max-width: 1200px){
    .scale-section{
        transform: scale(0.9);
        margin-left: -240px;
    }
}
@media (max-width: 992px){
    .scale-section{
        transform: scale(0.7);
        margin-left: -220px;
        margin-bottom: -300px;
    }
}
@media (max-width: 768px){
    .scale-section{
        transform: scale(0.5);
        margin-left: -210px;
        margin-bottom: -500px;
    }
}
@media (max-width: 576px){
    .scale-section{
        transform: scale(0.3);
        margin-left: -150px;
        margin-bottom: -600px;
    }
}
.capt-title{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 100px;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75); 
}
.title-wrapper{
    position: relative;
    display:inline-flex;
}
.title-text1{
    position: relative;
    text-align: center;
    color: white;
    font-size: 165px;
    z-index: 2;
    margin-right: 140px;
}
.title-svg{
    position: absolute;
    margin-top: -30px;
    left: 455px;
    z-index: 1;
    opacity: 1;
    margin-left: 152px;
}
.title-text2{
    position: relative;
    text-align: center;
    color: white;
    font-size: 165px;
    z-index: 0;
    margin-left: 5px;
}
.custom-hr{
    width: 65%;
}
.box{
    position: relative;
    background: white;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(78, 58, 107);
    width: fit-content;
    padding: .1rem 1.4rem;
    border-radius: 30px;
    font-size: 1.2rem;
    margin-top: -30px;
    margin-left: 790px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    z-index: 2;
}
.text-svg{
    margin-left: 580px;
}
.text-svg2{
    margin-left: -130px;
    margin-top: -40px;
}
.text-wrapper{
    position: relative;
    width: 100%;
    padding-left: 220px;
    text-align: center;
}
.white-box{
    width: 100%;
    max-width: 1100px;
    min-height: 500px;
    border-radius: 50px;  
    box-shadow: 20px 15px 10px rgba(0,0,0,0.3);
    position: relative;
    margin-top: 170px;
    z-index: 0;
}
.purple-box{
    width: 100%;
    height: 70px;
    background: rgb(45, 14, 88);
    border-top-left-radius: 50px;  
    border-top-right-radius: 50px;
    position: relative;
    z-index: 1;
}
.circles{
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
    display: flex; 
}
.circle{
    width: 19px;
    height: 20px;
    border-radius: 10px; 
    cursor: pointer;
    z-index: 10;
}
.red{
    display: inline-block;
    background-color: rgb(251, 79, 79);
    margin-right: 15px;
}
.orange{
    background-color: rgb(251, 148, 79);
    margin-right: 15px;
}
.yellow{
    background-color: rgb(251, 217, 79);
    margin-right: 15px;
}
.green{
    background-color: rgb(197, 251, 79);
    margin-right: 15px;
}
.circle:hover {
    opacity: 0.75;
}
.h3{
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
    position: relative;
    padding-right: 170px;
    padding-top: 20px;
    z-index: 2;
}
.text-box{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
    text-align: justify;
    position: relative;
    z-index: 3;
    margin-top: -10px;
}
.sat-img{
    margin-top: -300px;
    padding-top: 100px;
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-left: 900px;
    position: absolute;
    z-index: 3;
    overflow: visible;
}
.pfp-img{
    margin-top: -30px;
    width: 100%;
    max-width: 380px;
    height: auto;
}
@media (max-width: 768px){
    .text-box{
        font-size: 12pt;
        margin-left: -20px;
        margin-right: 10px;
    }
    .sat-img{
        width: 160px; top: 130px; right: 10px;
    }
    .circles{
        margin-left: 60px;
    }
    .circle{
        width: 13px; height: 13px;
    }
}
@media (max-width: 992px){
    .sat-img{
        width: 180px; top: 130px; right: 10px;
    }
}
.title{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 100px;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75); 
}
.pillar-img{
    width: 240px; 
    height: auto;
    max-width: none;
    margin-top: 30px;
    margin-left: -30px;
    margin-right: -130px;
    display: inline-flex;
}
.pillar-img2{
    width: 240px; 
    height: auto;
    max-width: none;
    margin-top: 30px;
    margin-left: 0px;
    margin-right: -120px;
    display: inline-flex;
}
.white-block{
    width: 240px;
    height: 500px;
    background: white;
    border-radius: 50px;
    box-shadow: 20px 15px 20px rgba(0,0,0,0.3);
    position: relative;
    margin: 20px 10px;
    overflow: hidden;
}
.purple-block{
    width: 100%;
    height: 70px;
    background: rgb(45, 14, 88);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
}
.circles1{
    position: absolute;
    top: 25px;
    left: 40px;
    display: flex;
    gap: 10px;
    background: none;
}
.circle1{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: none;
}
.red1{ 
    background: rgb(251, 79, 79); 
}
.orange1{ 
    background: rgb(251, 148, 79); 
}
.yellow1{ 
    background: rgb(251, 217, 79); 
}
.green1{ 
    background: rgb(197, 251, 79); 
}
.btn{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    border: 2px solid;
    color: rgb(197, 153, 255);
}
.btn:hover{
    border: 2px solid;
    color: rgb(216, 196, 228);
}
.work-img{
    width: 500px;
    height: auto;
    padding: 20px;
}
.work-img:hover{
    opacity: 40%;
    padding: 20px;
}
.work-title{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
}
.work-img1{
    width: 500px;
    height: auto;
    padding: 60px 20px;
}
.work-img1:hover{
    opacity: 40%;
    padding: 60px 20px;
}
.work-img2{
    width: 500px;
    height: auto;
    padding: 55px 20px;
}
.work-img2:hover{
    opacity: 40%;
    padding: 55px 20px;
}
.title1{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    margin-top: 30px;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.75); 
}
.contact-strip{
    background: white;
    color: rgb(45, 14, 88);
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: normal;
    padding: 15px;
    width: 1585px;
    height: 80px;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 6px 10px rgba(0,0,0,0.3);
}
.strip1{
    max-width: 100%;
    transform: rotate(-10deg);
    margin-top: 50px;
    margin-right: 50px;
    position: relative;
    z-index: 2;
}
.strip2{
    max-width: 100%;
    transform: rotate(10deg);
    margin-top: 280px;
    margin-left: -1620px;
    position: relative;
    z-index: 1;
}
.strip3{
    max-width: 100%;
    transform: rotate(-4deg);
    margin-top: 460px;
    margin-left: -1600px;
    position: relative;
    z-index: 3;
}
.cloud{
    position: absolute;
    z-index: 0;
}
.cloud-top{
    margin-top: 90px;
    margin-left: 1000px;
}
.cloud-bottom{
    margin-top: 250px;
    margin-right: 1050px;
}
.btn2{
    font-family: "Playfair Display", serif;
    font-weight: 400;
    font-style: italic;
    border: 2px solid;
    color: rgb(197, 153, 255) !important;
    padding-left: 10px;
    padding-right: 10px;
}
.btn2:hover{
    border: 2px solid;
    color: rgb(216, 196, 228) !important;
}
@media (max-width: 1200px){
    .contact{
        margin-top: 600px;
        margin-left: 520px;
        background-color: none;
        transform: scale(0.85);
    }
}
@media (max-width: 992px){
    .contact{
        margin-top: 800px;
        margin-left: 650px;
        background-color: none;
        transform: scale(0.78);
    }
}
@media (max-width: 768px){
    .contact{
        margin-top: 2000px;
        margin-left: 850px;
        transform: scale(0.9);
    }
}
@media (max-width: 576px){
    .contact{
        margin-top: 5000px;
        margin-left: 1000px;
        transform: scale(1.2);
    }
}

