*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav .nav-link{
    font-family: "Trirong", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.navbar-nav .nav-link:hover{
    color: rgb(197, 153, 255);
}
.custom-hr{
    width: 65%;
    border-top: 2px solid white;
    opacity: 1;
    position: relative;
    z-index: 1;
}
.work1{
    display: flex;
    align-items: center;
    background: none;
}
.white-box{
    width: 100%;
    max-width: 700px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 20px 15px 10px rgba(0,0,0,0.3);
    position: relative;
    margin-right: 150px;
    display: flex;
    flex-direction: column;
}
.purple-box{
    width: 100%;
    height: 70px;
    background: rgb(45, 14, 88);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
}
.circles{
    position: absolute;
    margin-top: 25px;
    margin-left: 100px;
    display: flex;
    background-color: none; 
}
.circle{
    width: 19px;
    height: 20px;
    border-radius: 10px;
    background-color: none; 
}
.red{
    background-color: rgb(251, 79, 79);
    margin-right: 15px;
}
.orange{
    background-color: rgb(251, 148, 79);
    margin-right: 15px;
}
.yellow{
    background-color: rgb(251, 217, 79);
    margin-right: 15px;
}
.green{
    background-color: rgb(197, 251, 79);
    margin-right: 15px;
}
.work1-img{
    width: 100%;
    max-width: 400px;
    height: auto;
    background: none;
    box-shadow: 20px 15px 10px rgba(0,0,0,0.3);
}
h1{
    font-family: "Fira Mono", monospace;
    font-weight: 400;
    font-style: normal;
    position: relative;
    z-index: 1;
    background: none;
}
.content{
    background: transparent;
    margin-top: 20px;
}
h2{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;    
    margin-top: 10px;
    background-color: none;
}
p{
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;    
    margin-top: 10px;
    background: none;
}
.work2{
    display: flex;
    align-items: center;
    background: none;
}
.white-box1{
    width: 100%;
    max-width: 700px;
    height: 500px;
    border-radius: 50px;
    box-shadow: 20px 15px 10px rgba(0,0,0,0.3);
    position: relative;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
}
.purple-box1{
    width: 100%;
    height: 70px;
    background: rgb(45, 14, 88);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
}
.work2-img{
    width: 300px;
    height: auto;
    background: none;
    box-shadow: 20px 15px 10px rgba(0,0,0,0.3);
    margin-top: -300px;
    margin-left: 200px;
    display: flex;
}
.work2-img1{
    width: 500px;
    height: auto;
    background: none;
    margin-top: 400px;
    margin-left: -400px;
    display: flex;
}
.work4-img{
    width: 400px;
    height: auto;
    background: none;
    box-shadow: 20px 15px 10px rgba(0,0,0,0.3);
    margin-right: 100px;
    display: flex;
}
.scale-section{
    transform: scale(1);
    transform-origin: top center;
}
@media (max-width: 1200px){
    .scale-section{
        transform: scale(0.9);
    }
    .white-box{
        width: 800px;
        height: auto;
        margin-top: 100px;
        margin-left: 30px;
    }
    .work1-img{
        margin-top: 100px;
        margin-left: -90px;
    }
    .circles{
        margin-top: 30px;
        margin-left: 50px;
    }
    .circle{
        width: 14px;
        height: 15px;
    }
    .red{
        margin-right: 10px;
    }
    .orange{
        margin-right: 10px;
    }
    .yellow{
        margin-right: 10px;
    }
    .green{
        margin-right: 10px;
    }
    .white-box1{
        width: 600px;
        height: auto;
        margin-top: 100px;
        margin-left: 20px;
    }
    .work2-img{
        margin-top: -160px;
        margin-left: 100px;
    }
    .work2-img1{
        margin-top: 440px;
    }
    .work4-img{
        margin-top: 100px;
        margin-left: 30px;
        margin-right: 40px;
    }
}
@media (max-width: 992px){
    .scale-section{
        transform: scale(0.8);
        margin-left: -180px;
    }
    .white-box{
        width: 800px;
        height: auto;
        margin-top: 240px;
        margin-left: 160px;
    }
    .work1-img{
        margin-top: 240px;
        margin-left: -100px;
        margin-right: -50px;
    }
    .circles{
        margin-left: 25px;
    }
    .circle{
        width: 13px;
        height: 14px;
    }
    .red{
        margin-right: 10px;
    }
    .orange{
        margin-right: 10px;
    }
    .yellow{
        margin-right: 10px;
    }
    .green{
        margin-right: 10px;
    }
    .white-box1{
        width: 600px;
        height: auto;
        margin-top: 240px;
        margin-left: 20px;
        margin-right: -40px;
    }
    .work2-img{
        margin-top: 40px;
        margin-left: 200px;
    }
    .work2-img1{
        margin-top: 640px;
    }
    .work4-img{
        margin-top: 240px;
        margin-left: 150px;
        margin-right: 40px;
    }
}
@media (max-width: 768px){
    .scale-section{
        transform: scale(0.7);
    }
    .white-box{
        width: 800px;
        height: auto;
        margin-top: 340px;
        margin-left: 280px;
    }
    .work1-img{
        margin-top: 340px;
        margin-left: -80px;
    }
    .circles{
        margin-left: 25px;
    }
    .circle{
        width: 12px;
        height: 13px;
    }
    .red{
        margin-right: 10px;
    }
    .orange{
        margin-right: 10px;
    }
    .yellow{
        margin-right: 10px;
    }
    .green{
        margin-right: 10px;
    }
    .white-box1{
        width: 600px;
        height: auto;
        margin-top: 440px;
        margin-left: 20px;
    }
    .work2-img{
        margin-top: 100px;
        margin-left: 200px;
    }
    .work2-img1{
        margin-top: 740px;
    }
    .work4-img{
        margin-top: 440px;
        margin-left: 150px;
        margin-right: 40px;
    }
}
@media (max-width: 576px){
    .scale-section{
        transform: scale(0.6);
        margin-left: -250px;
    }
    .white-box{
        width: 600px;
        height: auto;
        margin-top: 540px;
        margin-left: 400px;
        margin-right: -400px;
    }
    .work1-img{
        margin-top: 540px;
        margin-left: 450px;
    }
    .circles{
        margin-left: 25px;
    }
    .circle{
        width: 12px;
        height: 13px;
    }
    .red{
        margin-right: 10px;
    }
    .orange{
        margin-right: 10px;
    }
    .yellow{
        margin-right: 10px;
    }
    .green{
        margin-right: 10px;
    }
    .white-box1{
        width: 600px;
        height: auto;
        margin-top: 540px;
        margin-left: 20px;
    }
    .work2-img{
        margin-top: 200px;
        margin-left: 250px;
    }
    .work2-img1{
        margin-top: 840px;
    }
    .work4-img{
        margin-top: 540px;
        margin-left: 300px;
        margin-right: 20px;
    }
}